<div style="position:relative;width:1000px;height:2980px; background-color:#FFF; "> 

<div>
<!--
	<span location="contenido" id="contenido"  
	     style="position: absolute;top:0px; left:0px;width:1000px;"></span>
	<span location="barraBotones" id="barraBotones"  
	       style="position: absolute;top:15px; left:10px;"></span>
    <span location="tabla1" id="tabla1"
           style="position: absolute;top:50px; left:0px;"></span>	           
           
            <span location="tabla2" id="tabla2"                            style="position: absolute;top:600px; left:50px;"></span>
    <span location="barraBotonesDetalle" id="barraBotonesDetalle"  style="position: absolute;top:880px; left:80px;"></span> 
                      -->
	<span location="contenido" id="contenido"></span>
	<span location="barraBotones" id="barraBotones"></span>
    <span location="tabla1" id="tabla1"></span>	
    <span>
    <span location="tabla2" id="tabla2"></span>
    <span location="barraBotonesDetalle" id="barraBotonesDetalle" ></span>                      
    </span>                  
</div>
</div>